﻿@model Znode.Engine.WebStore.ViewModels.QuoteResponseViewModel
@{
    string paymentSettingId = ViewData["PaymentSettingId"]?.ToString();
    string paymentCode = ViewData["PaymentCode"]?.ToString();
    string clientId = ViewData["ClientId"]?.ToString();
    string sellerId = ViewData["SellerId"]?.ToString();
    bool testMode = Convert.ToBoolean(ViewData["TestMode"]);
    string accesstoken = ViewData["AccessToken"]?.ToString();
    int QuoteId = Convert.ToInt32(ViewData["QuoteId"]);
}
<script type="text/javascript">
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientId("@clientId");
    };
</script>
@if (testMode)
{
    <script src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"></script>
}
else
{
    <script src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"></script>
}

<script type="text/javascript">
    document.getElementById('log-off1').onclick = function () {
        amazon.Login.logout();
    };
</script>
<script type='text/javascript'>

    new OffAmazonPayments.Widgets.Wallet({
        sellerId: "@sellerId",
        onOrderReferenceCreate: function (orderReference) {
            // Use the following cod to get the generated Order Reference ID.
            orderReferenceId = orderReference.getAmazonOrderReferenceId();
            $("#hdnOrderReferenceId").val(orderReferenceId);
        },
        displayMode: 'Edit',
        design: {
            designMode: 'responsive'
        },
        onPaymentSelect: function (billingAgreement) {
            // this method is triggered when the payment instrument is selected.
                    $("#btnContineu").show();
        },
        onError: function (error) {
            ZnodeNotification.prototype.DisplayNotificationMessagesHelper(error.getErrorCode() + ": " + error.getErrorMessage(), "error", false, 0);
        }
    }).bind("AmazonWalletWidget");


</script>
<div class="container amazon-checkout">
    <div class="row single-page-checkout">
        <div class="col-xs-12 col-md-8 nopadding shipping-address margin-top">
            <div id="WalletLink" style="display:none"></div>
            <input type="hidden" id="hdnOrderReferenceId" />
            <input type="hidden" id="hdnPaymentSettingId" value="@paymentSettingId" />
            <input type="hidden" id="hdnAccessToken" value="@accesstoken" />
            <div class="col-xs-12 nopadding address-book">
                <h3 class="title padding-left">@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
                <div id="AmazonWalletWidget" style="max-width:100%;"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 nopadding amazon-right">
                <div class="col-xs-12 nopadding margin-bottom">
                    <button type="button" onclick="Quote.prototype.ProcessAmazonPayment('@Model.QuoteTotal','@paymentSettingId','@paymentCode')" id="btnContineu" class="col-xs-12 nopadding btn-text-icon red pull-right margin-top-bottom"><i class="zf-checkout"></i> @WebStore_Resources.btnPlaceOrder</button>
                    <button type="button" id="log-off1" onclick="location.href='@Url.Action("GetQuote", "Quote", new { omsQuoteId = QuoteId})';amazon.Login.logout(); " class="col-xs-12 nopadding btn-text-icon red login-off-btn"><i class="zf-checkout"></i>@WebStore_Resources.LabelAmazonLogout</button>
                </div>
        </div>
    </div>
</div>

<!-- AmazonPayment Modal -->
<div class="modal fade" id="AmazonPaymentModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Admin_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p>@Admin_Resources.TextPaymentMethod</p>
            </div>
        </div>
    </div>
</div>
<!--Error Payment Modal-->
<div class="modal fade" id="ErrorPaymentModal" role="dialog">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="col-xs-12 margin-top-bottom nopadding">
                    <div class="pull-right">
                        <button type="button" class="btn-text btn-bg-primary btn" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>
@*Remove AmazonShippingOptions call as it has no use.*@
@Html.Hidden("QuoteId", QuoteId)