﻿@import "_base.scss";
//single-page quote page
.single-page-checkout {
    .inhand-shipping{padding:0 15px 15px 15px;}
     .in-hand-block {
        display: flex;
        align-items: center;

        .hand-date-picker {
            position: relative;

            .datepicker {
                border: 1px solid #c5b7b7 !important;
                padding: 5px 10px !important;
                min-width: 150px !important;
                max-width: 235px !important;
                border-radius: 0
            }

            span {
                position: absolute;
                right: 0;
                top: 0;
                padding: 10px;
                height: 24px;
                pointer-events: none;
                color: $base-color-primary;
                line-height: 14px;
            }
        }
    }
}

// thank you page


.b2c-quote-page {
    .quote-heading {
        border-bottom: 1px solid $base-color-primary;
        padding-bottom: 5px;
    }

    .quote-receipt {
        .shipping-billing-quote {
            background: #f9f9f9;
            border-left: 1px solid #c3c3c3;
            border-right: 1px solid #c3c3c3;
            padding: 0 10px 20px 10px;

            .section-header-color {
                border-bottom: 1px solid #343434;
                padding-bottom: 5px;
            }
        }

        .receipt-b2c-table {
            .table {
                border: 1px solid $border-bgcolor-default;

                .table-heading {
                    border-bottom: 1px solid $border-bgcolor-default;

                    .receipt-column-total {
                        text-align: right;
                        padding-right: 25px;
                    }
                }

                .receipt-item {
                    .receipt-column-total {
                        text-align: right;
                        padding-right: 25px;
                    }

                    .cart-item-description {
                        margin-top: 10px;
                    }
                }

                tr td {
                    img {
                        max-width: 75px !important;
                        margin-right: 15px !important;
                        min-height: 75px !important;
                    }
                }
            }

            .receipt-totals {
                .form-group {
                    float: left;
                    width: 100%;
                    margin-bottom: 0;
                    line-height: 32px;
                }

                .subtotal, .discount, .tax-cost, .shipping-cost, .gift-amount, .csr-discount, .order-total {
                    padding-right: 25px;
                }

                .receipt-total {
                    border-top: 1px solid $base-color-secondary;



                    h2 {
                        color: $base-color-primary;
                    }
                }
            }
        }
    }

    .quotes-notes-section .b2c-notes-header {
        font-size: 16px !important;
    }

    .account-dashboard .quote-account-receipt {
        .shipping-billing-quote {
            background: #f9f9f9;
            border-left: 1px solid #c3c3c3;
            border-right: 1px solid #c3c3c3;
            padding-bottom: 15px;
            margin-top: 15px;
        }
    }
}
