﻿@using Znode.Engine.Admin.ViewModels
@model SearchProfileListViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleMarketing + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="pull-right create-index">
    <button type="button" class="btn-text btn-text-secondary" id="btnCreateSearchProfile" onclick="Search.prototype.CreateSearchProfile()" data-test-selector="linkAddNew">@Admin_Resources.ButtonAdd</button>
</div>
<div class="top-keywords-report col-md-12 nopadding search-report-filter">
    <div class="d-flex search-catalog justify-content-around">
        <div class="catalog-selector">
            @Html.FastSelectFor(model => model.CatalogName, model => model.PublishCatalogId, "GetSuggestions", "Typeahead", "SearchConfiguration.prototype.OnSelectPubCatalogDataBind", 1, true,
                  new
                  {
                      htmlAttributes = new { @placeholder = Admin_Resources.LabelSelectCatalog, @class = "", @id = "txtCatalogName", @data_test_selector = "txtCatalog" },
                      parameters = new { @type = ZnodeTypeAheadEnum.CatalogList.ToString() }
                  })
        </div>
    </div>
        @using (Ajax.BeginForm(actionName, controllerName, new { catalogId = Model.PublishCatalogId, catalogName = Model.CatalogName }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
        {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
    
</div>



@CustomHtmlHelper.HiddenField("PublishCatalogId", "hdnPublishCatalogId", "hidden", Convert.ToString(Model.PublishCatalogId))
@CustomHtmlHelper.HiddenField("CatalogName", "hdnPublishCatalogName", "hidden", Convert.ToString(Model.CatalogName))

@Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = Admin_Resources.TextSearchProfileConfirmDelete,
                ModalPopUpId = "SearchProfileDeletePopup",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName =  "Search.prototype.DeleteSearchProfile(this)"}
                }
            })
<div class="col-sm-12 list-container">
    @{
        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
    }
</div>
@Html.HiddenFor(m => m.PublishCatalogId, new { @id = "publishCatalogId" })
@Html.HiddenFor(m => m.CatalogName, new { @id = "catalogName" })
@Html.Hidden("SelectedTab", "GetSearchProfilesList")

<script type="text/javascript">
    $(document).ready(function () {
        $('*[data-url]').each(function () { fastselectwrapper($(this), $(this).data("onselect-function")); });        
        SearchConfiguration.prototype.UpdateFastSelectAfterGridUpdate();                
        SearchConfiguration.prototype.SetFastSelectFilter("publishcatalogid", $("#hdnPublishCatalogId").val());
    });
</script>
